html,
body {
    background-color:white;
    margin: 0;
}
@keyframes salto {
    0% {
        transform: translate(0px, 10px);
    }
    100% {
        transform: translate(0px);
    }
}

.listas {
    transition: background-color 0.5s ease; 
}

.listas:hover {
    background-color: gray;
    animation-name: salto;
    animation-duration: 0.5s;
    animation-iteration-count: 2;
}

.titulo {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.subtitulo{
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nosotros {
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}

.pie_pagina {
    color: white;
    background-color: black;
}

.redes ul {
    display: flex;
    gap: 30px;
    list-style: none;
    justify-content: center;
    padding: 0%;
}

.redes li a {
    text-decoration: none;
    color: inherit;
}

.productos { 
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "mate_camionero_bombilla termo_mate_campero yerbero_paris"
                         "mate_imperial equipo_de_mate_clasico equipo_de_mate_stanly";
    gap: 15px;                     
}

.tarjeta1 {
    grid-area: mate_camionero_bombilla;
}

.tarjeta2 {
    grid-area: termo_mate_campero;
}

.tarjeta3 {
    grid-area: yerbero_paris;
}

.tarjeta4 {
    grid-area: mate_imperial;
}

.tarjeta5 {
    grid-area: equipo_de_mate_clasico;
}

.tarjeta6 {
    grid-area: equipo_de_mate_stanly;
}

.tarjeta1,
.tarjeta2,
.tarjeta3,
.tarjeta4,
.tarjeta5,
.tarjeta6 {
    width: 90%;
    height: 300px;
    margin: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    border: 1px solid black;
    border-radius: 10px;
}

.titulo_productos {
    text-align: center;
}

#clientes_body {
    height: 100vh;
    position: relative;
}


.clientes {
    width: 90%;
    margin: auto;
    padding-top: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
}

.imagen_1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.imagen_1 img {
    width: 100%;
}

#contacto {
    position: relative;
    height: 100vh;
}

#contacto h2 {
    text-align: center;
    font-size: 35px;
}

#contacto form {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 15px;
}

#contacto footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

form input {
    width: 300px;
    height: 25px;
}

form textarea {
    width: 300px;
    height: 45px;
}


#nosotros {
    position: relative;
    height: 100vh;
}

#nosotros footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.contenedor_nosotros {
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contenedor_nosotros h2 {
    margin-top: 30px;
}



@media (max-width: 768px) {
    .cabecera {
        flex-direction: column;
    }

    .grid-pie img {
        width: 60px;
    }

    .redes ul {
        gap: 10px;
    }

    .productos { 
        margin-top: 30px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: "mate_camionero_bombilla termo_mate_campero"
                             "mate_imperial yerbero_paris"
                             "equipo_de_mate_clasico equipo_de_mate_stanly";
        gap: 15px;                     
    }

    #clientes_body .cabecera .logo img {
        width: 80px
    }

}

@media (max-width: 480px) {

    #index {
        height: 100vh;
        position: relative;
    }

    #index .pie_pagina {
        width: 100%;
        position: absolute;
        bottom: 0;
    }

    .logo img {
        width: 70px;
    }

    .titulo h1 {
        font-size: 30px;
        
    }

    .copy {
        font-size: 8px;
    }

    .redes {
        font-size: 10px;
    }

    .productos { 
        margin-top: 30px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: "mate_camionero_bombilla"
                             "termo_mate_campero"
                             "yerbero_paris"
                             "mate_imperial"
                             "equipo_de_mate_clasico"
                             "equipo_de_mate_stanly";
        gap: 15px;     
    }


    .clientes {
        grid-template-columns: 1fr;
    }


}