$negro: black; 
@keyframes salto {
    from {
        transform: translate(0px, 10px);
    } 
    to {
        transform: translate(0px);
    }
}
.listas {
    transition: background-color 0.5s ease;

    &:hover {
        background-color: gray;
        animation-name: salto;
        animation-duration: 00.5s;
        animation-iteration-count: 2;
    }
}
.titulo {
    text-align: center;
    color: $negro;
    p{
        color: $negro;
    }
}
.subtitulo {
    text-align: center;
    color: $negro;
    p{
        color: $negro;
    }
}
.pie_pagina {
    background-color: $negro;
    ul {
        list-style-type: none;
        color: white;
        display: flex;
        justify-content: center;
        column-gap: 20px;
        a {
            color: inherit;
        }
    }
    .copy {
        color: white;
        text-align: center;

    }
}
.productos {
    color: $negro;
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "mate_camionero_bombilla termo_mate_campero yerbero_paris"
                         "mate_imperial equipo_de_mate_clasico equipo_de_mate_stanly";
    gap: 15px;  
}
.tarjeta1 {
    grid-area: mate_camionero_bombilla;
}
.tarjeta2{
    grid-area: termo_mate_campero;
}
.tarjeta3 {
    grid-area: yerbero_paris;
}
.tarjeta4{
    grid-area: mate_imperial;
}
.tarjeta5 {
    grid-area: equipo_de_mate_clasico;
}
.tarjeta6 {
    grid-area: equipo_de_mate_stanly;
}
.tarjeta1,
.tarjeta2,
.tarjeta3,
.tarjeta4,
.tarjeta5,
.tarjeta6 {
    width: 90%;
    height: 300px;
    margin: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    border: 1px solid black;
    border-radius: 10px;
}
.titulo_productos {
    text-align: center;
}
.clientes_body {
    height: 100vh;
    position: relative;
}
.clientes {
    width: 90%;
    margin: auto;
    padding-top: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
}
.imagen_1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.imagen_1 img {
    width: 100%;
}
.contacto {
    position: relative;
    height: 100vh;
}
#contacto h2 {
    text-align: center;
    font-size: 35px;
}
.contacto form {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 15px;
}
.contacto footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}
.form input {
    width: 300px;
    height: 25px;
}
.form textarea {
    width: 300px;
    height: 45px;
}
#nosotros {
    position: relative;
    height: 100vh;
}
#nosotros footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}
.contenedor_nosotros {
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.contenedor_nosotros h2 {
    margin-top: 30px;
} 
