$negro: black; 

@mixin centrado{
    width: 90%;
    margin: auto;
}
@keyframes salto {
    from {
        transform: translate(0px, 10px);
    } 
    to {
        transform: translate(0px);
    }
}
.listas {
    transition: background-color 0.5s ease;

    &:hover {
        background-color: gray;
        animation-name: salto;
        animation-duration: 00.5s;
        animation-iteration-count: 2;
    }
}
.titulo{
    text-align: center;
    color: $negro;
    p{
        color: $negro;
    }
}
.subtitulo{
    text-align: center;
    color: $negro;
    p{
        color: $negro;
    }
}
.pie_pagina{
    background-color: $negro;
    ul{
        list-style-type: none;
        color: white;
        display: flex;
        justify-content: center;
        column-gap: 20px;
        a {
            color: inherit;
        }
    }
    .copy{
        color: white;
        text-align: center;
    }
}
.productos{
    color: $negro;
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "mate_camionero_bombilla termo_mate_campero yerbero_paris"
                         "mate_imperial equipo_de_mate_clasico equipo_de_mate_stanly"
                         "Mate_y_Termo_Patagonia yerbero_de_cuero_ecologico Mate_Grabado";
    gap: 15px;  
    a{
        background-color:gray;
        padding: 8px;
        border-radius: 30px;
        animation-name: salto;
        animation-duration: 5s;
    }
}
.tarjeta1{
    grid-area: mate_camionero_bombilla;
}
.tarjeta2{
    grid-area: termo_mate_campero;
}
.tarjeta3{
    grid-area: yerbero_paris;
}
.tarjeta4{
    grid-area: mate_imperial;
}
.tarjeta5{
    grid-area: equipo_de_mate_clasico;
}
.tarjeta6{
    grid-area: equipo_de_mate_stanly;
}
.tarjeta7{
    grid-area: Mate_y_Termo_Patagonia;
}
.tarjeta8{
    grid-area: yerbero_de_cuero_ecologico;
}
.tarjeta9{
    grid-area: Mate_Grabado;
}
.tarjeta1,
.tarjeta2,
.tarjeta3,
.tarjeta4,
.tarjeta5,
.tarjeta6,
.tarjeta7,
.tarjeta8,
.tarjeta9{
    @include centrado;
    height: 300px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    border: 1px solid black;
    border-radius: 10px;
}
.titulo_productos{
    text-align: center;
}
.clientes_body{
    height: 100vh;
    position: relative;
}
.clientes{
   @include centrado;
    padding-top: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
}
.imagen_1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    img{
        width: 100%;
    }
}

.contacto{
    position: relative;
    height: 100vh;
    form{
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 15px;
        input{
            width: 300px;
            height: 25px;
        }
        textarea{
            width: 300px;
            height: 45px;
        }
    }
    
}
#contacto{
    h2{
        text-align: center;
        font-size: 35px;
    }
    footer{
        width: 100%;
    }
}

#nosotros{
    position: relative;
    height: 100vh;
    footer{
        width: 100%;
    }
}

.contenedor_nosotros{
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    h2{
        margin-top: 30px;
    }
}
