/* Error: expected "}".
 *     ,
 * 165 |     margin-top: 30px;
 *     |                      ^
 *     '
 *   stile.scss 165:22  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: expected "}".\a     \2577 \a 165 \2502      margin-top: 30px;\d\a     \2502                       ^\a     \2575 \a   stile.scss 165:22  root stylesheet';
}
